<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <context-param>
  <description>Enable taconite ajax request handler default value is 'true'</description>
  <param-name>org.jquery4jsf.TACONITE</param-name>
  <param-value>true</param-value>
 </context-param>
  <context-param>
  <description>Enable jQuery jQuery.noConflict() default value is 'false'</description>
  <param-name>org.jquery4jsf.JQUERY_NO_CONFLICT</param-name>
  <param-value>false</param-value>
 </context-param>
 <context-param>
  <param-name>org.jquery4jsf.THEME_CSS_ENABLE</param-name>
  <param-value>true</param-value>
 </context-param>
 <!--
		base black-tie blitzer cupertino dark-hive dot-luv eggplant
		excite-bike flick hot-sneaks humanity le-frog mint-choc overcast
		pepper-grinder redmond smoothness south-street start sunny
		swanky-purse trontastic ui-darkness ui-lightness vader
	-->
 <context-param>
  <param-name>org.jquery4jsf.THEME_CSS</param-name>
  <param-value>start</param-value>
 </context-param>
 <!-- jQuery for JavaServer faces param -->
 <context-param>
  <description>Enable javascript resource Minifier</description>
  <param-name>org.jquery4jsf.JAVASCRIPT_MIN</param-name>
  <param-value>false</param-value>
 </context-param>
 <context-param>
  <description>jsmin or yuicompressor</description>
  <param-name>org.jquery4jsf.JAVASCRIPT_TYPE</param-name>
  <param-value>jsmin</param-value>
 </context-param>
 <context-param>
  <description>Enable css resource Minifier</description>
  <param-name>org.jquery4jsf.CSS_MIN</param-name>
  <param-value>true</param-value>
 </context-param>
 <!-- for jboss -->
 <context-param>
  <param-name>org.jboss.jbossfaces.WAR_BUNDLES_JSF_IMPL</param-name>
  <param-value>true</param-value>
 </context-param>
 <!-- if you want to disable the behaviour completely -->
 <context-param>
  <param-name>org.apache.myfaces.ERROR_HANDLING</param-name>
  <param-value>false</param-value>
 </context-param>
 <!-- if you are using myfaces + facelets don't forget to do this -->
 <context-param>
  <param-name>facelets.DEVELOPMENT</param-name>
  <param-value>false</param-value>
 </context-param>
 <context-param>
  <param-name>facelets.SKIP_COMMENTS</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
  <param-value>.xhtml</param-value>
 </context-param>
 <context-param>
  <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
  <param-value>server</param-value>
 </context-param>
 <filter>
  <filter-name>JQueryResourceFilter</filter-name>
  <filter-class>org.jquery4jsf.application.filter.JQueryResourceFilter</filter-class>
 </filter>
 <filter>
  <description>JSessionFilter</description>
  <display-name>JSessionFilter</display-name>
  <filter-name>JSessionFilter</filter-name>
  <filter-class>org.jquery4jsf.showcase.filters.JSessionStripFilter</filter-class>
 </filter>
 <filter>
  <description>ResponseHeaderFilter</description>
  <display-name>ResponseHeaderFilter</display-name>
  <filter-name>ResponseHeaderFilter</filter-name>
  <filter-class>org.jquery4jsf.showcase.filters.ResponseHeaderFilter</filter-class>
  <init-param>
   <param-name>Cache-Control</param-name>
   <param-value>max-age=3600</param-value>
  </init-param>
 </filter>
 <filter-mapping>
  <filter-name>JQueryResourceFilter</filter-name>
  <servlet-name>Faces Servlet</servlet-name>
  <dispatcher>FORWARD</dispatcher>
  <dispatcher>INCLUDE</dispatcher>
  <dispatcher>REQUEST</dispatcher>
  <dispatcher>ERROR</dispatcher>
 </filter-mapping>

 <filter-mapping>
  <filter-name>JSessionFilter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>ResponseHeaderFilter</filter-name>
  <url-pattern>*.jpg</url-pattern>
 </filter-mapping>
  <filter-mapping>
  <filter-name>ResponseHeaderFilter</filter-name>
  <url-pattern>*.gif</url-pattern>
 </filter-mapping>
  <filter-mapping>
  <filter-name>ResponseHeaderFilter</filter-name>
  <url-pattern>*.png</url-pattern>
 </filter-mapping>
  <filter-mapping>
  <filter-name>ResponseHeaderFilter</filter-name>
  <url-pattern>*.js</url-pattern>
 </filter-mapping>
 <listener>
  <listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>
 </listener>
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>0</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>Resource Servlet</servlet-name>
  <servlet-class>org.jquery4jsf.resource.ResourceServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>Resource Servlet</servlet-name>
  <url-pattern>/jquery4jsf_resource/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.jsf</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
